# Fill this out with the region and IDs for an existing VPC, subnet,
# and a rhel9 ami.
# Then copy the file into "terraform.tfvars" like so:
# $ cp terraform.tfvars.example terraform.tfvars

aws_prefix = "vslurm"
aws_region = <AWS_REGION>
vpc_id = <VPC_ID>
subnet_id = <SUBNET_ID>
rhel9_ami_id = <AMI_ID>
