name: Generate terraform docs
on:
  - pull_request
  - workflow_dispatch

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.ref }}

    - name: Render terraform docs and push changes back to PR
      uses: terraform-docs/gh-actions@v1.0.0
      with:
        working-dir: .
        output-file: README.md
        output-method: inject
        template: |-
          <!-- BEGIN_TF_DOCS -->
          {{ .Content }}
          
          ---
          <!-- END_TF_DOCS -->
        git-push: "true"
